<div class="alert-card " [ngClass]="{ 'alerta-nueva': nueva }" (click)="handleClick()">
    <div *ngIf="nueva" class="badge-nueva">NUEVA</div>
    <img [src]="getPacienteFotoUrl(foto_url)" alt="Foto paciente" class="foto" />
    <div class="info">
        <p class="nombre">{{ nombre_completo }}</p>
        <p>Edad: {{ edad }}</p>
        <p>Hora: {{ hora }}</p>
    </div>
    <!-- <div class="acciones">
        <button class="btn-confirmar">Confirmar</button>
        <button class="btn-escalar">Escalar</button>
    </div> -->
</div>