.title {
  margin-top: 3.5rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--title-purple);
  margin-bottom: 2rem;
  text-align: center;
}

.form-paciente {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 10px;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}
.doble-columna {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.div-doble-columna {
  display: flex;
  flex-direction: column;
}
label {
  font-weight: 600;
  margin-top: 0.5rem;
}
input {
  border: 1px solid #444;
  padding: 0.5rem;
  border-radius: 8px;
  color: #444;
}
input.err {
  border: 2px solid #ff0000;
}

.file-upload-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.file-upload-label {
  margin-top: 0;
  background-color: var(--primary-purple);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.file-upload-label:hover {
  background-color: var(--primary-purple-hover);
}

.file-upload-name {
  color: #444;
  font-style: italic;
}
button {
  margin-top: 1rem;
  background-color: var(--primary-purple);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease;
}
button:hover {
  background-color: var(--primary-purple-hover);
}
.input-error {
  border: 1px solid red;
}

.error small {
  color: #dc2626;
  font-size: 0.85rem;
}

img {
  width: 300px;
  border-radius: 8px;
  margin: auto;
}

.error-text {
  color: #dc2626;
  font-size: 1rem;
  margin-top: 0.25rem;
}
