.enfermeria-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background-color: #ede9fe;
}

.titulo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--title-purple);
  margin-bottom: 2rem;
  text-align: center;
}

.alertas-lista {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 700px;
}

// ---------
.alerta {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: #fee2e2;
  border-left: 6px solid #dc2626;
  padding: 1.5rem 2rem 1.5rem; // más padding abajo para no tapar la barra
  margin: 0.5rem 0;
  border-radius: 12px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 0.5s ease;
  font-weight: 700;
  color: #b91c1c;
  z-index: 9999;
  max-width: 400px;
  font-size: 1.2rem;
  overflow: hidden;
}

.alerta-timer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #dc2626;
  width: 100%; /* inicia llena */
  transform-origin: right;
  animation: shrinkTimer 5s linear forwards;
}

// Animaciones
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shrinkTimer {
  0% {
    transform: scaleX(1); /* tamaño completo */
  }
  100% {
    transform: scaleX(0); /* tamaño vacío */
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  pointer-events: auto; /* bloquea clics detrás, ideal para modales */
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.open {
  opacity: 1;
  visibility: visible;
}

///////
.modal {
  all: unset;
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.7rem;
  color: #777;
  cursor: pointer;
}
.title-alerta {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #444;
}
.botones-modal {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
}
button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
  &:hover {
    scale: 1.03;
  }
}

.btn-confirmar {
  background-color: var(--primary-purple);
  color: white;
  &:hover {
    background-color: var(--primary-purple-hover);
  }
}

.btn-escalar {
  background-color: #dc2626;
  color: white;

  &:hover {
    background-color: #b91c1c;
  }
}

.tipo-urgencia {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.urgencia-label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.select-urgencia {
  padding: 0.5rem;
  border-radius: 8px;
  color: #444;
}
.error small {
  color: #dc2626;
  font-size: 0.85rem;
}
select.err {
  border: 2px solid #ff0000;
}
